@CHARSET "UTF-8";

.ui-galleria {
	width: 100% !important;
}

body {
	background-color: #FBF5EF;
	padding-right: 20px;
	padding-left: 20px;
	background-image: url("./images/logo.png");
	background-repeat: repeat;
}

.autoWidthDialog {
	width: 100% !important;
	height: auto !important;
	max-width: 800px !important;
	max-height: 600px !important;
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	margin: auto !important;
	text-align: center !important;;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.orderFormPanel {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.productIMG {
	margin: 2px !important;
	border: 1px solid black !important;
	height: 100px !important;
	width: auto !important;
}

.productBox {
	padding: 5px;
	width: 95%;
	margin-bottom: 2em;
	height: 100%;
}

.productRow {
	width: 100%;
	margin-bottom: 2em;
	border: 1px solid black;
	padding-bottom: 2em;
	padding-top: 1em;
	/*background-color: rgba(0, 0, 0, 0.1) !important;*/
}

.showIMG {
	height: auto !important;
	width: 100% !important;
	top: 10px !important;
	margin: 0 auto !important;
}

.dottedText {
	text-decoration: line-through;
}

.cartLayout{
	background: rgba(245,236,206,0.5) !important;
}
.contentLayout{
	background: rgba(255,252,240,0.7) !important;
}
.headerLayout{
	background: rgba(255,252,240,0.7) !important;
}
.ui-widget-content{
	background: rgba(255,255,255,0.0) !important;
}
